name: ci
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Deno
        uses: denoland/setup-deno@v2

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: "24.x"

      - name: Lint
        run: deno lint

      - name: Test
        run: deno test

      - name: Types
        run: deno check .

      - name: Format
        run: deno fmt --check

      - name: Dry run to publish to JSR
        run: deno publish --dry-run

      - name: Build npm
        run: deno task build:npm

      - name: Publish pkg.pr.new
        working-directory: npm
        run: npx pkg-pr-new publish
